@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;;
}

body {
  margin: 0;
  padding: 0;
}

/* :root {
  --background: #FAFAFA;
  --foreground: #101010;
} */

@theme inline {
  --color-orange: #D87D4A;
  --color-orange-light: #FBAF85;
  --color-black-tertiary: #0E0E0E;
  --color-black-primary: #101010;
  --color-black-secondary: #141414;
  --color-black: #000000;
  --color-gray-sm: #FAFAFA;
  --color-gray-md: #F1F1F1;
  --color-gray-lg: #D8D8D8;
  --color-white: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

